/* order.component.css */

.equal-image {
    height: 150px; /* Set a fixed height for all images */
    object-fit: cover; /* Ensure the image covers the entire container */
  }
  
  /* Add shadow to cards */
  .card {
    transition: transform 0.2s; /* Add a smooth transition effect on hover */
  }
  
  .card:hover {
    transform: scale(1.05); /* Enlarge the card on hover */
  }
  /* order.component.css */

  .green-dot {
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px; /* Adjust the spacing as needed */
  }
  
  .red-dot {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px; /* Adjust the spacing as needed */
  }
  .dotuu{
    display: inline-block;
    color: white;
    border-radius: 70%; /* Make it circular */
    background-color: red;
    padding: 2px; /* Adjust the padding to make it larger */
    font-size: 0.6em;
    position: relative;
    transition: transform 0.2s ease-in-out; /* Add transition for a smooth scale effect */
    cursor: pointer; /* Add pointer cursor to indicate it's clickable */
  }
  