/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Segoe+UI:wght@400;700&display=swap');
@import 'sweetalert2/dist/sweetalert2.min.css';
@import "node_modules/bootstrap/dist/css/bootstrap.css";

body{
	background: #ffb347;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ffcc33, #ffb347);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ffcc33, #ffb347); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
